* {
  box-sizing: border-box;
}

.emoji-container {
  border-radius: 10px;
  background-color: #ffffff33;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  margin-bottom: 20px;
  margin-right: 30px;
  flex-shrink: 0;
  flex-grow: 1;
  border:none;
}
.emoji {
  height: 100px;
  width: 100px;
}
